<form method="get" action="/quizes/<%= quiz.id %>/answer">
  Pregunta: <%= quiz.pregunta %> - <%= quiz.tematica %> <p><br>
  <input type="text" name="respuesta" value="Responda aqui" >
  <input type="submit" value="Enviar" >
</form> 

<br>
<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo Comentario</button></a></p>

<br>
<p><strong>Comentarios: </strong></p>
<% for (index in quiz.Comments) {%>
	<p>- <%= quiz.Comments[index].texto %></p>
<% } %>
